.about {
    padding: 3em 0;
}
.about h3 {
    color: var(--primary-color);
    font-weight: 300;
    margin-bottom: 2em;
}

.about h2 {
    font-family: var(--playfair-display);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.about p {
    line-height: 2.5em;
    margin-bottom: 2em;
}

.visual {
    background-color: var(--color-white);
}


