.hero {
    background-color: var(--primary-color);
}
.hero-main {
    min-height: 100dvh;
    position: relative;
    display: flex;
   align-items: flex-end;
    padding: 0 0 2em 1em;
}

.hero__img {
    flex: 1;
    height: 120dvh;
    position: absolute;

}

.hero__img img {
    width: 100%;
    height: 110%;
    object-fit: contain;
}

.hero__japanese-title {
    color: var(--color-white);
    font-family: var(--plus-jakarta-sans);
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
}

.hero__content {
    padding: 3em 0 4em;
    background-color: var(--color-creamson);
}

.hero__content h1 {
    font-size: 4rem;
    font-family: var(--playfair-display);
    margin-bottom: 0.5em;
}

.hero__content__btns {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 2em 0;
}

.play-btn {
    background-color: var(--color-creamson);
    border: none;
    cursor: pointer;
}

.play-btn__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-btn__content img {
    margin-right: 1em;
}

@media (min-width: 900px) {
   .hero {
        display: flex;
   } 

   .hero-right {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
   }

   .hero-main {
    flex: 2;
   }

   .hero__content {
    flex: 5;
   }

}