.testimonials {
    background-color: var(--color-white);
    overflow-x: scroll;
}

.testimonials__reviews {
    display: flex;
    flex-direction: column;
}

.reviews--margined {
    margin: 2em 1.5em;
}

.reviews__stats {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.reviews__stats__number {
    font-family: var(--playfair-display);
    font-size: 4rem;
}

.reviews__stats__number + p {
    margin-left: 1em;
    color: var(--gray-100);
}

.reviews__customer {
    flex-basis: 50%;
    display: flex;
    gap: 1em;
    align-items: center;
    border-left: 1px solid rgba(230, 230, 200, 0.9);
    padding-left: 2em;
}

.reviews__customer img {
    width: 5rem;
    height: 5rem;
}

.reviews__customer p {
    font-size: 0.75rem;
    line-height: 2.5em;
}

.testimonial__visuals {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.visual {
    display: flex;
    padding: 2em 0 0 0;
    aspect-ratio: 2/1;
}


.visual img {
    width: 100%;
    height: 100%;
}

.learn-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: white;
    background-color: black;
    font-weight: 600;
    padding: 0.8em 1.5em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 11;
}



